<p id="notice"><%= notice %></p>

<h1>Listing Exercise Events</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exercise type</th>
      <th>Duration</th>
      <th>Intensity</th>
      <th>Points</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_events.each do |exercise_event| %>
      <tr>
        <td><%= exercise_event.user_id %></td>
        <td><%= exercise_event.exercise_type_id %></td>
        <td><%= exercise_event.duration %></td>
        <td><%= exercise_event.intensity_id %></td>
        <td><%= exercise_event.points %></td>
        <td><%= exercise_event.date %></td>
        <td><%= link_to 'Show', exercise_event %></td>
        <td><%= link_to 'Edit', edit_exercise_event_path(exercise_event) %></td>
        <td><%= link_to 'Destroy', exercise_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise event', new_exercise_event_path %>
