<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @exercise_event.user_id %>
</p>

<p>
  <strong>Exercise type:</strong>
  <%= @exercise_event.exercise_type_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @exercise_event.duration %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @exercise_event.intensity_id %>
</p>

<p>
  <strong>Points:</strong>
  <%= @exercise_event.points %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exercise_event.date %>
</p>

<%= link_to 'Edit', edit_exercise_event_path(@exercise_event) %> |
<%= link_to 'Back', exercise_events_path %>
