<p id="notice"><%= notice %></p>

     <div class="row">
       <div class="col s8 offset-s2 m3 picture-column">
         <div class="section">
           <img class="responsive-img circle" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg"></img>
         </div>
       </div>
       <div class="col s12 m9 text-column">
         <div class="username">
           <h5 class="center-on-small-only"><%= "#{@exercise_event.user.first_name} #{@exercise_event.user.last_name}" %></h5>
           <p class="grey-text condensed center-on-small-only small-font"><time datetime="<%= @exercise_event.date %>"><%= "#{time_ago_in_words(@exercise_event.date)} ago" %></time></p>
         </div>
         <div class="divider"></div>
         <div class="section">
           <p><%= "#{@exercise_event.user.first_name} did #{@exercise_event.exercise_type.name} at #{@exercise_event.intensity.name} intensity for #{@exercise_event.num_units} #{@exercise_event.exercise_unit.name}" %></p>
         
         
          <div class="react-buttons">
            <span class="grey-text small-font"><%= @exercise_event.cheers.size %> Cheers</span>                                  <span class="grey-text small-font"><%= @exercise_event.comments.size %> Comments</span>
            <span> 
              <% if @exercise_event.user_has_cheered?(@user) %>
                 <%= link_to '<i class="material-icons added">favorite</i>'.html_safe, exercise_event_cheers_path(@exercise_event.id), method: "delete", class: "right" %>
               <% else %>
                 <%= link_to '<i class="material-icons">favorite</i>'.html_safe, exercise_event_cheers_path(@exercise_event.id), method: "post", class: "right" %>
               <% end %>
            </span>
         </div>
        </div>
      </div>
    </div>
      <div class="divider"></div>
    <div class="row">
      <% @exercise_event.comments.each do |comment| %>
        <div class="comment">
            <div class="section">
              <div class="row">
                <div class="col s4 m2 center-align">
                  <img class="responsive-img circle" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg"></img>
                </div>
                
                <div class="col s8 m10">
                  <span class="bold"><%= "#{comment.user.first_name} #{comment.user.last_name} says..." %></span>
                  <span><%= comment.content %></span>
                  <span class="grey-text small-font"><%= time_ago_in_words(comment.updated_at) %></span>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
      <% end %>
      
      <div class="comment">
            <div class="section">
              <div class="row">
                <div class="col s4 m2 center-align">
                  <img class="responsive-img circle" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg"></img>
                </div>
                
                <div class="col s8 m10">
                  <% @comment = @exercise_event.comments.build %>
                  <%= render :partial => "/comments/form", locals: {:comment => @comment } %>
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          
</div>

<%= link_to 'Edit', edit_exercise_event_path(@exercise_event) %> |
<%= link_to 'Back', exercise_events_path %>
