<div class="row">
  <h4 class="bold grey-text darken-3-text center-align">Friends Activity Feed</h5>
</div>
<div clas="row">
<% @feed.each do |activity| %>
     <div class="row">
       <div class="media">
         <div class="media-left">
           <img class="media-object" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg">
         </div>
         <div class="media-body">
           <h5 class="center-on-small-only media-heading"><%= "#{activity.user.first_name} #{activity.user.last_name}" %></h5>
           <p class="grey-text condensed center-on-small-only small"><time datetime="<%= activity.date %>"><%= "#{time_ago_in_words(activity.date)} ago" %></time></p>
           <p><%= "#{activity.user.first_name} did #{activity.exercise_type.name} at #{activity.intensity.name} intensity for #{activity.num_units} #{activity.exercise_unit.name}" %></p>
         
          <div class="react-buttons">
            <span class="grey-text small tooltipped" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= html_cheerers(activity) %>"><%= cheer_sentence(activity.cheers) %></span>
            <span> 
              <% if activity.user_has_cheered?(@user) %>
                 <%= link_to '<img src="/assets/noun_bull_horn.svg" class="noun-sm svg" />Cheered'.html_safe, activity_cheers_path(activity.id), method: "delete", class: "cheered no-dark-hover small" %>
               <% else %>
                 <%= link_to '<img src="/assets/noun_bull_horn.svg" alt="cheer" class="noun-sm svg" />Cheer'.html_safe, activity_cheers_path(activity.id), method: "post", class: "cheered no-dark-hover small" %>
               <% end %>
            </span>
            <span class="grey-text small tooltipped" data-toggle="tooltip" data-placement="top" data-html="true" title="<%= html_commenters(activity) %>"><%= comment_sentence(activity.comments) %></span>
            <span>
            <% if activity.user_has_commented?(@user) %>
              <a href="<%= activity_path(activity.id) %>" class="small commented no-dark-hover"><img src="/assets/noun_comment.svg" alt="comment" class="noun-sm svg" />Commented</a>
            <% else %>
              <a href="<%= activity_path(activity.id) %>" class="small no-dark-hover"><img src="/assets/noun_comment.svg" alt="comment" class="noun-sm svg" />Comment</a>
            <% end %>
            </span>
         </div>
       
      </div>
    </div>
  </div>
  <div class="divider"></div>
<% end %>
</div>
  
