<div class="row">
  <h4 class="bold grey-text darken-3-text center-align">Friends Activity Feed</h5>
</div>
<div clas="row">

<% @feed.each do |activity| %>

  <div class="divider"></div>
     <div class="row">
       
       <div class="col col-sm-8 col-sm-offset-2 col-md-3 picture-column">
         
         <div class="section">
           <img class="img-responsive img-circle" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg"></img>
         </div>
       
       </div>
       
       <div class="col col-sm-12 col-md-9 text-column">
         
         <div class="username">
           <h5 class="center-on-small-only"><%= "#{activity.user.first_name} #{activity.user.last_name}" %></h5>
           <p class="grey-text condensed center-on-small-only small-font"><time datetime="<%= activity.date %>"><%= "#{time_ago_in_words(activity.date)} ago" %></time></p>
         </div>
    
         <div class="divider"></div>
         
         <div class="activity">
           <p><%= "#{activity.user.first_name} did #{activity.exercise_type.name} at #{activity.intensity.name} intensity for #{activity.num_units} #{activity.exercise_unit.name}" %></p>
         </div>
         
         <div class="react-buttons">
          <span class="grey-text small-font"><span><%= activity.cheers.size %> Cheers</span>                                   <span><%= activity.comments.size %> Comments</span></span>
          <%= link_to '<i class="material-icons">comment</i>'.html_safe, activity_path(activity.id), class: "pull-right" %>
          <% if activity.user_has_cheered?(@user) %>
            <%= link_to '<i class="material-icons added">favorite</i>'.html_safe, activity_cheers_path(activity.id), method: "delete", class: "pull-right" %>
          <% else %>
            <%= link_to '<i class="material-icons">favorite</i>'.html_safe, activity_cheers_path(activity.id), method: "post", class: "pull-right" %>
          <% end %>
         </div>
         
     </div>    
   </div>
   
   <div class="divider"></div>

<% end %>
</div>
  
