<%= form_for(@challenge_participant) do |f| %>
  <% if @challenge_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge_participant.errors.count, "error") %> prohibited this challenge_participant from being saved:</h2>

      <ul>
      <% @challenge_participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.number_field :challenge_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
