<%= form_for(@challenge_participant) do |f| %>
  <% if @challenge_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge_participant.errors.count, "error") %> prohibited this challenge_participant from being saved:</h2>

      <ul>
      <% @challenge_participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user.blank? %>
    <p>Sign up for an account</p>
    <%= form_for :user do |ff| %>
      <div class="field">
         <%= ff.label :email %><br />
         <%= ff.text_field :email %>
      </div>
      <div class="field">
         <%= ff.label :username %><br />
         <%= ff.text_field :username %>
      </div>
      <div class="field">
         <%= ff.label :first_name %><br />
         <%= ff.text_field :first_name %>
      </div>
      <div class="field">
         <%= ff.label :last_name %><br />
         <%= ff.text_field :last_name %>
      </div>
      <div class="field">
         <%= ff.label :profile_picture %><br />
         <%= ff.file_field :profile_picture %>
      </div>
      <div class="field">
         <%= ff.label :password %><br />
         <%= ff.password_field :password %>
      </div>
      <div class="field">
         <%= ff.label :password_confirmation %><br />
         <%= ff.password_field :password_confirmation %>
      </div>
    <% end %>
    <p>Already have an account?  Sign in.</p>
    <%= form_tag do |ff| %>
    <div class="field">
       <%= ff.label :email %><br />
       <%= ff.text_field :email %>
    </div>
    <div class="field">
       <%= ff.label :password %><br />
       <%= ff.password_field :password %>
    </div>
    <% end %>
  <% else %>
    <p>Sign me up!</p>
    <div class="field">
       <%= ff.label :password %><br />
       <%= ff.password_field :password, placeholder: "Enter your password to confirm." %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
