<p id="notice"><%= notice %></p>

<h4><%= @challenge.name %> Participants</h4>
<% if !@challenge_participants.nil? %>
  <table class="table table-bordered table-hover table-condensed table-responsive">
    <thead>
      <tr>
        <th>Participant</th>
        <th>Participant Email</th>
        <th>Team (if applicable)</th>
        <th>Meets Challenge?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    
      <% @challenge_participants.each do |challenge_participant| %>
        <tr>
          <td><%= challenge_participant.user.username %></td>
          <td><%= challenge_participant.user.email %></td>
          <td><%= challenge_participant.team_id.nil? ? "" : challenge_participant.team.name %></td>
          <td><%= challenge_participant.meets_challenge? %></td>
          <td><%= link_to 'Show', user_path(challenge_participant.user.username) %></td>
          <td><%= link_to 'Remove from Challenge', challenge_participant, method: :delete, data: { confirm: "This will not delete the participant's account, but you cannot undo.  Are you sure?" } %></td>
        </tr>
      <% end %>
   
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Challenge participant', challenge_sign_up_path %>
