<div class="container">
  <div class="row center-align">
    <div class="panel panel-default-panel">
      <div class="row grey darken-3 white-text">
        <div style="padding-top:30px"></div>
        <h4>Join <%= @challenge.name %>!</h4>
        <h6>Sponsored by <%= @challenge.organization.name %></h6>
        <h7 class="grey-text darken-4-text small"><%= @challenge.description %></h7>
        <div style="padding-bottom:20px"></div>
      </div>

      <div class="row grey-text darken-4">
        <p><strong>Starts: </strong><%= display_date(@challenge.start_date) %></p>
        <p><strong>Ends: </strong><%= display_date(@challenge.end_date) %></p>
      </div>

      <div class="row grey-text darken-4">
        <p>Rules of the challenge:</p>
        <ul class="small">
          <li>
            <% @challenge.rule_eaches.each do |rule| %>
              <li><%= rule.in_english %></li>
            <% end %>
            <% @challenge.rule_qualifies.each do |rule| %>
              <li><%= rule.in_english %></li>
            <% end %>
            <% @challenge.rule_totals.each do |rule| %>
              <li><%= rule.in_english %></li>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <%= render 'form' %>

  <p class="bold grey-text darken-4-text center-align"><%= mail_to @challenge.organization.user.email, "Contact organizer"  %></p>

</div>