<%= form_for(@challenge, url: organization_challenges_path(@organization.id)) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :challenge_type_id %><br>
    <%= f.select :challenge_type_id, ChallengeType.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :num_type, "Maximum number of allowed participants" %><br>
    <%= f.number_field :num_type %>
  </div>
  <div class="field">
    <%= f.label :num_in_type, "Maximum number of members per team (if applicable)" %><br>
    <%= f.number_field :num_in_type %>
  </div>
  <div class="field">
    <label for="challenge[start_date]">Start Date:</label>
    <input type="date" name="challenge[start_date]" placeholder="mm/dd/yyyy" value=<%= @challenge.start_date %>></input>    
  </div>
  <div class="field">
    <label for="challenge[end_date]">End Date:</label>
    <input type="date" name="challenge[end_date]" placeholder="mm/dd/yyyy" value=<%= @challenge.end_date %>></input>
  </div>
  
  <div class="rule_qualifies">
    <% @challenge.rule_qualifies.each do |rule| %>
      <div class="rule_qualify">
        <% unless rule.id.blank? %>
        <p>To count towards the total, each day must have at least <%= rule.num_exercise_units %> <%= rule.exercise_unit.name %>. <span><%= link_to "Edit", edit_rule_qualify_path(rule.id) %></span>  <span><%= link_to "Delete", rule_qualify_path(rule.id), method: "delete", confirm: "Are you sure?" %></span></p>
        <% end %>
      </div>
    <% end %>
    <%= f.fields_for :rule_qualifies do |ff| %>
      <div class="new_rule_qualify">
        <p>To count towards the total, each day must have at least <%= ff.number_field :num_exercise_units, placeholder: "x" %> <%= ff.select :exercise_unit_id, ExerciseUnit.all.collect { |p| [p.name, p.id ]}, include_blank: true %>.</p>
      </div>
    <% end %>
  </div>
  <div class="rule_totals">
    <% @challenge.rule_totals.each do |rule| %>
    <% unless rule.id.blank? %>
      <div class="rule_total">
        <p>Users must have at least <%= "#{rule.num_exercise_units} #{rule.exericse_units.name} in #{rule.num_time_periods} #{rule.time_period.name}." %>  <span><%= link_to "Edit", edit_rule_total_path(rule.id) %></span>  <span><%= link_to "Delete", organization_challenge_rule_total_path(rule.id), method: "delete", confirm: "Are you sure?" %></span></p>
      </div>
      <% end %>
    <% end %>
    <%= f.fields_for :rule_totals do |ff| %>
      <div class="new_rule_total">
        <p>Users must have at least <%= ff.number_field :num_exercise_units, placeholder: "x" %> <%= ff.select :exercise_unit_id, ExerciseUnit.all.collect { |p| [p.name, p.id ]}, include_blank: true %> in <%= ff.number_field :num_time_periods %> <%= ff.select :time_period_id, TimePeriod.all.collect { |p| [p.name, p.id]}, include_blank: true %>.</p>
      </div>
    <% end %>
  </div>
  
  <div class="rule_eaches">
    <% @challenge.rule_eaches.each do |rule| %>
    <% unless rule.id.blank? %>
      <div class="rule_each">
        <p>Participants should have at minimum <%= "#{rule.num_exercise_units} #{rule.exericse_units.name} eaach #{rule.time_period.name}." %>  <span><%= link_to "Edit", edit_rule_each_path(rule.id) %></span>  <span><%= link_to "Delete", rule_each_path(rule.id), method: "delete", confirm: "Are you sure?" %></span></p>
      </div>
      <% end %>
    <% end %>
    <%= f.fields_for :rule_eaches do |ff| %>
      <div class="new_rule_each">
        <p>Participants should have at minimum <%= ff.number_field :num_exercise_units, placeholder: "x" %> <%= ff.select :exercise_unit_id, ExerciseUnit.all.collect { |p| [p.name, p.id ]}, include_blank: true %> each <%= ff.select :time_period_id, TimePeriod.all.collect { |p| [p.name, p.id]}, include_blank: true %>.</p>
      </div>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
