<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :challenge_type_id %><br>
    <%= f.select :challenge_type_id, ChallengeType.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :num_type %><br>
    <%= f.number_field :num_type %>
  </div>
  <div class="field">
    <%= f.label :num_in_type %><br>
    <%= f.number_field :num_in_type %>
  </div>
  <div class="field">
    <label for="start_date">Start Date:</label>
    <input type="datetime" name="start_date" placeholder="mm/dd/yyyy" value=<%= @challenge.start_date %>></input>    
  </div>
  <div class="field">
    <label for="end_date">End Date:</label>
    <input type="datetime" name="end_date" placeholder="mm/dd/yyyy" value=<%= @challenge.end_date %>></input>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
