<p id="notice"><%= notice %></p>
<p>
  <strong>Organization:</strong>
  <%= @challenge. %>
</p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Challenge type:</strong>
  <%= @challenge.challenge_type.name %>
</p>

<p>
  <strong>Number of participants allowed:</strong>
  <%= @challenge.num_type %>
</p>

<p>
  <strong>Number of participants on a team allowed (if applicable):</strong>
  <%= @challenge.num_in_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @challenge.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @challenge.end_date %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
