<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Organizer First name:</strong>
  <%= @organization.user.first_name %>
</p>

<p>
  <strong>Organizer Last name:</strong>
  <%= @organization.user.last_name %>
</p>

<p>
  <strong>Organizer Email:</strong>
  <%= @organization.user.email %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
