<div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <%= form_for(@activity) do |f| %>
      <% if @activity.errors.any? %>
        <div id="error_explanation">
          <h4>Sorry, we found the following <%= pluralize(@activity.errors.count, "error") %></h4>
          <ul>
          <% @activity.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group" data-error="You cannot choose a day that is older than 7 days ago or that doesn't exist.">
        <%= f.label :date, class: "control-label" %>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= f.date_select :date, class: "form-control", placeholder: "Enter date" %>
        </div>
      </div>
      <div class="form-group" data-error="You must choose an exercise.">
        <%= f.label :exercise_type_id, class: "control-label", placeholder: "Choose an exercise from the list." %><br>
        <div class="input-group">
          <span class="input-group-addon"><img src="/assets/wellness/noun_exercise.svg" alt="exercise" class="noun-sm"></span>
          <%= f.select :exercise_type_id, ExerciseType.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control selectpicker"} %>
        </div>
      </div>
      <div class="form-group" data-error="You must pick an intensity level.">
        <%= f.label :intensity_id, class: "control-label" %><br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>
          <%= f.select :intensity_id, Intensity.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control selectpicker"} %>
        </div>
      </div>
      <div class="form-group" data-error="Must be a number greater than 0.">
        <%= f.label :num_units, class: "control-label" %><br>

        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calculator"></i></span>
          <%= f.number_field :num_units, class: "form-control", placeholder: "Enter number of units: ie 60 (minutes)" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :exercise_unit_id, class: "control-label" %><br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-th"></i></span>
          <%= f.select :exercise_unit_id, ExerciseUnit.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control selectpicker"} %>
      </div>
      </div>
      <div class="actions">
        <%= f.submit nil, :class => "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
</div>