<p id="notice"><%= notice %></p>

<h1 class="center-align grey">Listing Exercise Events</h1>

<ul class="media-list">
  <% @activities.each do |activity| %>
    <li class="media">
      <div class="media-left">
        <% @icon = exercise_svg(activity.exercise_type.name) %>
        <a href="<%= activity_path(activity.id) %>"><img src="<%= "/assets/wellness/#{@icon}" %>" alt="exercise" class="media-object"></a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><%= activity.exercise_type.name %></h5>
        <p class="grey-text small"><%= activity.date%></p>
        <h6>You did <%= "#{activity.exercise_type.name} for #{activity.num_units} #{activity.exercise_unit.name} at #{activity.intensity.name} intensity." %></h6>
        <div class="react">
          <p class="grey-text small"></p>
        </div>
         <div class="react-buttons">
           <span class="grey-text small content show-tooltip" data-placement="top" data-html="true" title="<%= html_cheerers(activity) %>"><%= cheer_sentence(activity.cheers) %><img src="/assets/noun_bull_horn.svg" alt="cheer" class="noun-sm svg"></span>
          <span class="grey-text small tooltipped" data-placement="top" data-html="true" title="<%= html_commenters(activity) %>"><%= comment_sentence(activity.comments) %><img src="/assets/noun_comment.svg" alt="comment" class="noun-sm svg"></span>
        </div>
      </div>
      <div class="divider"></div>
    </li>
  <% end %>
  
</ul>


<br>

<%= link_to 'New Exercise event', new_activity_path, class: "btn btn-default" %>
