<p id="notice"><%= notice %></p>

<h1 class="center-align grey">Listing Exercise Events</h1>

<ul class="media-list">
  <% @activities.each do |activity| %>
    <li class="media">
      <div class="media-left">
        <img src="/assets/wellness/noun_exercise.svg" alt="exercise" class="svg noun-sm media-object">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><%= activity.exercise_type.name %></h5>
        <p class="grey-text small"><%= activity.date%></p>
        <h6>You did <%= "#{activity.exercise_type.name} for #{activity.num_units} #{activity.exercise_unit.name} at #{activity.intensity.name} intensity." %></h6>
        <div class="react">
          <p class="grey-text small"></p>
        </div>
         <div class="react-buttons">
           <span class="grey-text small tooltipped", data-position="bottom", data-delay="50", data-tooltip="<%= "#{@activity.cheers.map {|r| r.user.username}}"%>"><%= cheer_sentence(activity.cheers) %><img src="/assets/noun_bull_horn.svg" alt="cheer" class="noun-sm svg"></span>
          <span class="grey-text small tooltipped", data-position="bottom", data-delay="50", data-tooltip="<%= "#{@activity.cheers.map {|r| r.user.username}}"%>"><%= cheer_sentence(@activity.cheers) %><img src="/assets/noun_bull_horn.svg" alt="cheer" class="noun-sm svg"></span>
        </div>
        
      </div>
    </li>
  <% end %>
  
</ul>


<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Exercise type</th>
      <th>Intensity</th>
      <th>Length of Exercise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.user.first_name %></td>
        <td><%= activity.exercise_type.name %></td>
        <td><%= activity.intensity.name %></td>
        <td><%= "#{activity.num_units} #{activity.exercise_unit.name}" %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise event', new_activity_path %>
