     <div class="row">
       <div class="media">
         <div class="media-left">
           <img class="media-object" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg">
         </div>
         <div class="media-body">
           <h5 class="center-on-small-only media-heading"><%= "#{@activity.user.first_name} #{@activity.user.last_name}" %></h5>
           <p class="grey-text condensed center-on-small-only small-font"><time datetime="<%= @activity.date %>"><%= "#{time_ago_in_words(@activity.date)} ago" %></time></p>
           <p><%= "#{@activity.user.first_name} did #{@activity.exercise_type.name} at #{@activity.intensity.name} intensity for #{@activity.num_units} #{@activity.exercise_unit.name}" %></p>
         
          <div class="react-buttons">
            <span class="grey-text small-font tooltipped", data-position="bottom", data-delay="50", data-tooltip="<%= "#{@activity.cheers.map {|r| r.user.username}}"%>"><%= cheer_sentence(@activity.cheers) %></span>
            <%# TODO - Put the names of the cheerers in something other than an array %>         
            <span> 
              <% if @activity.user_has_cheered?(@user) %>
                 <%= link_to '<img src="/assets/noun_bull_horn.svg" class="noun-sm svg">Cheered'.html_safe, activity_cheers_path(@activity.id), method: "delete", class: "pull-right no-dark-hover" %>
               <% else %>
                 <%= link_to '<img src="/assets/noun_bull_horn.svg" alt="cheer" class="noun-sm svg">Cheer'.html_safe, activity_cheers_path(@activity.id), method: "post", class: "pull-right no-dark-hover" %>
               <% end %>
            </span>
         </div>
        </div>
      <% @activity.comments.each do |comment| %>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg">
            </div>
            <div class="media-body">
                <p><span class="bold"><%= "#{comment.user.first_name} #{comment.user.last_name}" %></span> says...</p>
                <%#Add material icons for editing and deleting here (edit and remove trash?)  %>
                 <%= link_to '<img src="/assets/noun_edit.svg" alt="edit" class="noun-sm svg">Edit'.html_safe, "/some_path", method: "post", class: "pull-right no-dark-hover" %>
              <p><%= comment.content %></p>
              <span class="grey-text small-font"><%= "#{time_ago_in_words(comment.updated_at)} ago" %></span>
            </div>
          </li>
        
      <% end %>
          <li class="media">
            <div class="media-left">
              <img class="media-object" src="http://www.pageresource.com/wallpapers/wallpaper/cats-cute-cat-animal-cute-grass-photo.jpg">
            </div>
            <div class="media-body">
              <% @comment = @activity.comments.build %>
              <%= render :partial => "/comments/form", locals: {:comment => @comment } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<%= link_to 'Edit', edit_activity_path(@activity), class: "btn btn-default" %> |
<%= link_to 'Back', activities_path, class: "btn btn-default" %>
